@{
    ViewData["Title"] = "Upozornění na filmy s dobrým hodnocením";
}

<div class="text-center">
    <h1 class="display-4">Upozornění na filmy s dobrým hodnocením na <a href="https://www.csfd.cz">ČSFD</a> nebo <a href="https://www.imdb.com">IMDb</a> v místním kině</h1>
</div>
