@{
    ViewData["Title"] = "Upozornění bylo přidáno.";
}

<div class="text-center">
    <h2>Upozornění bylo přidáno.</h2>
    <p>
        <a href="">Přejít na seznam registrovaných upozornění</a>
    </p>
</div>
