@{
    ViewData["Title"] = "O aplikaci Užitečná Upozornění";
}

<div class="text-center">
    <h1>Vítejte v aplikaci Užitečná Upozornění.</h1>
    <p>Užitečná Upozornění Vám umožní dostávát upozornění na události, které byste si jinak museli kontrolovat pravidelně manuálně.</p>
    <p>Příklady:</p>
    <ul>
        <li>upozornění na filmy s dobrým hodnocením na <a href="https://www.csfd.cz">ČSFD</a> nebo <a href="https://www.imdb.com">IMDb</a> v místním kině</li>
        <li>upozornění na divadelní představení s Vašimi oblíbenými herci v místním divadle</li>
        <li>upozornění na novou nabídku prodeje nemovitosti ve zvolené lokalitě</li>
    </ul>
    <p>
        Aplikace Užitečná Upozornění v aktuální verzi podporují pouze jedno upozornění - a to 
        <a asp-controller="FilmsWithGoodRatingNotification" asp-action="Index">upozornění na filmy s dobrým hodnocením v místním kině</a>. Další druhy
        upozornění budou v aplikaci postupně přibývat.
    </p>
    <p>Seznam podporovaných Užitečných Upozornění:</p>
    <ol>
        <li>
            <a asp-controller="FilmsWithGoodRatingNotification" asp-action="Index">Upozornění na filmy s dobrým hodnocením v místním kině</a>                
            (hodnocení filmu vzato z <a href="https://www.csfd.cz">ČSFD</a> nebo <a href="https://www.imdb.com">IMDb</a>)
        </li>
    </ol>
</div>
