@{
    ViewData["Title"] = "Hlavní stránka";
}

<div class="text-center">
    <h1>Vítejte v aplikaci Užitečná Upozornění.</h1>
    <p>
        Užitečná Upozornění Vám umožní dostávát upozornění na události, které byste si jinak museli kontrolovat pravidelně manuálně.
        Více info <a asp-controller="Home" asp-action="About">zde</a>.
    </p>    
    <p>Seznam podporovaných Užitečných Upozornění:</p>
    <ol>
        <li>
            <a asp-controller="FilmsWithGoodRatingNotification" asp-action="Index">
                Upozornění na filmy s dobrým hodnocením v místním kině (hodnocení filmu vzato z ČSFD nebo IMDb)
            </a>
        </li>
    </ol>
</div>
